*{
    margin: 0;
    padding: 0;
    background: #e1eec3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f05053, #e1eec3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f05053, #e1eec3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#page1btn{
    display: block;
    width: calc(100% - 50%);
    margin: auto;
    border: 1px double black;
    outline: none;
    text-transform: uppercase;
    height: 35px;
    border-radius: 15px;
    background: #f05053;
    cursor: pointer;

}

#page1btn:hover {
color: blanchedalmond;
background: black;
}

input[type="text"]{
    width: calc(100% - 20%);
    height: 50px;
    outline: none;
    border: 1px solid black;
    background: white;
    border-radius:10px ;
    display: block;
    margin: auto;
    margin-top: 10%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

input[type="text"]:focus{
background: rgb(236, 236, 236);
}

